################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.dotnet-home
/qdrant_data
/RagServer.API.Tests/bin
/RagServer.API.Tests/obj
/RagServer.Web/obj
/RagServer.Web/bin
/RagServer.Web/RagServer.Web.csproj.user
/RagServer.Web.Tests/obj
/RagServer.Web.Tests/bin
*.csproj.user
