################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RagServer.API.Tests/bin/Debug/net10.0
/RagServer.API.Tests/obj
/RagServer.Web/obj
/RagServer.Web/bin/Debug/net10.0
/RagServer.Web/RagServer.Web.csproj.user
*.csproj.user
